@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&family=Sono&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
nav {
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding: 20px 80px;
}
nav ul li:hover {
  background-color: white;
}
nav ul li a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

header{
  background-image: url(./kosmos.jpeg);
  color: white;
  text-align: center;
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
h1{
  margin: 0;
}